/* 
 .o88o.                           .   
 888 `"                         .o8   
o888oo   .ooooo.  ooo. .oo.   .o888oo 
 888    d88' `88b `888P"Y88b    888   
 888    888   888  888   888    888   
 888    888   888  888   888    888 . 
o888o   `Y8bod8P' o888o o888o   "888" 
*/                                      
                                      
@font-face {
  font-family: 'grotesque-black';
  src: url('../fonts/custom-font/BrandonGrotesque-Black.eot');
  src: url('../fonts/custom-font/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/custom-font/BrandonGrotesque-Black.svg#wf') format('svg'), 
  url('../fonts/custom-font/BrandonGrotesque-Black.woff') format('woff'), 
  url('../fonts/custom-font/BrandonGrotesque-Black.ttf') format('truetype');
  font-weight: bolder;
}
@font-face {
  font-family: 'grotesque-black';
  src: url('../fonts/custom-font/BrandonGrotesque-BlackItalic.eot');
  src: url('../fonts/custom-font/BrandonGrotesque-BlackItalic.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/custom-font/BrandonGrotesque-BlackItalic.svg#wf') format('svg'), 
  url('../fonts/custom-font/BrandonGrotesque-BlackItalic.woff') format('woff'), 
  url('../fonts/custom-font/BrandonGrotesque-BlackItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: 'grotesque-light';
  src: url('../fonts/custom-font/BrandonGrotesque-Light.eot');
  src: url('../fonts/custom-font/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/custom-font/BrandonGrotesque-Light.svg#wf') format('svg'), 
  url('../fonts/custom-font/BrandonGrotesque-Light.woff') format('woff'), 
  url('../fonts/custom-font/BrandonGrotesque-Light.ttf') format('truetype');
  font-weight: lighter;
}
@font-face {
  font-family: 'grotesque-light';
  src: url('../fonts/custom-font/BrandonGrotesque-LightItalic.eot');
  src: url('../fonts/custom-font/BrandonGrotesque-LightItalic.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/custom-font/BrandonGrotesque-LightItalic.svg#wf') format('svg'), 
  url('../fonts/custom-font/BrandonGrotesque-LightItalic.woff') format('woff'), 
  url('../fonts/custom-font/BrandonGrotesque-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'grotesque-bold';
  src: url('../fonts/custom-font/BrandonGrotesque-Bold.eot');
  src: url('../fonts/custom-font/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/custom-font/BrandonGrotesque-Bold.svg#wf') format('svg'), 
  url('../fonts/custom-font/BrandonGrotesque-Bold.woff') format('woff'), 
  url('../fonts/custom-font/BrandonGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'grotesque-bold';
  src: url('../fonts/custom-font/BrandonGrotesque-BoldItalic.eot');
  src: url('../fonts/custom-font/BrandonGrotesque-BoldItalic.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/custom-font/BrandonGrotesque-BoldItalic.svg#wf') format('svg'), 
  url('../fonts/custom-font/BrandonGrotesque-BoldItalic.woff') format('woff'), 
  url('../fonts/custom-font/BrandonGrotesque-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'grotesque-medium';
  src: url('../fonts/custom-font/BrandonGrotesque-Medium.eot');
  src: url('../fonts/custom-font/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/custom-font/BrandonGrotesque-Medium.svg#wf') format('svg'), 
  url('../fonts/custom-font/BrandonGrotesque-Medium.woff') format('woff'), 
  url('../fonts/custom-font/BrandonGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;

}
@font-face {
  font-family: 'grotesque-medium';
  src: url('../fonts/custom-font/BrandonGrotesque-MediumItalic.eot');
  src: url('../fonts/custom-font/BrandonGrotesque-MediumItalic.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/custom-font/BrandonGrotesque-MediumItalic.svg#wf') format('svg'), 
  url('../fonts/custom-font/BrandonGrotesque-MediumItalic.woff') format('woff'), 
  url('../fonts/custom-font/BrandonGrotesque-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'grotesque-regular';
  src: url('../fonts/custom-font/BrandonGrotesque-Regular.eot');
  src: url('../fonts/custom-font/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/custom-font/BrandonGrotesque-Regular.svg#wf') format('svg'), 
  url('../fonts/custom-font/BrandonGrotesque-Regular.woff') format('woff'), 
  url('../fonts/custom-font/BrandonGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'grotesque-regular';
  src: url('../fonts/custom-font/BrandonGrotesque-RegularItalic.eot');
  src: url('../fonts/custom-font/BrandonGrotesque-RegularItalic.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/custom-font/BrandonGrotesque-RegularItalic.svg#wf') format('svg'), 
  url('../fonts/custom-font/BrandonGrotesque-RegularItalic.woff') format('woff'), 
  url('../fonts/custom-font/BrandonGrotesque-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'grotesque-thin';
  src: url('../fonts/custom-font/BrandonGrotesque-Thin.eot');
  src: url('../fonts/custom-font/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/custom-font/BrandonGrotesque-Thin.svg#wf') format('svg'), 
  url('../fonts/custom-font/BrandonGrotesque-Thin.woff') format('woff'), 
  url('../fonts/custom-font/BrandonGrotesque-Thin.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'grotesque-thin';
  src: url('../fonts/custom-font/BrandonGrotesque-ThinItalic.eot');
  src: url('../fonts/custom-font/BrandonGrotesque-ThinItalic.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/custom-font/BrandonGrotesque-ThinItalic.svg#wf') format('svg'), 
  url('../fonts/custom-font/BrandonGrotesque-ThinItalic.woff') format('woff'), 
  url('../fonts/custom-font/BrandonGrotesque-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}


/* 
 o8o                                      .o88o.                           .   
 `"'                                      888 `"                         .o8   
oooo   .ooooo.   .ooooo.  ooo. .oo.      o888oo   .ooooo.  ooo. .oo.   .o888oo 
`888  d88' `"Y8 d88' `88b `888P"Y88b      888    d88' `88b `888P"Y88b    888   
 888  888       888   888  888   888      888    888   888  888   888    888   
 888  888   .o8 888   888  888   888      888    888   888  888   888    888 . 
o888o `Y8bod8P' `Y8bod8P' o888o o888o    o888o   `Y8bod8P' o888o o888o   "888" 
*/
@font-face {
  font-family: 'icon-font';
  src:url('../fonts/icon-font/icon-font.eot');
  src:url('../fonts/icon-font/icon-font.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icon-font/icon-font.ttf') format('truetype'),
    url('../fonts/icon-font/icon-font.woff') format('woff'),
    url('../fonts/icon-font/icon-font.svg#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e600";
}
.icon-facebook:before {
  content: "\e601";
}
.icon-linkedin:before {
  content: "\e602";
}
.icon-plus-sign:before {
  content: "\e603";
}
.icon-minus-sign:before {
  content: "\e604";
}
.icon-remove-sign:before {
  content: "\e605";
}
.icon-ok-sign:before {
  content: "\e606";
}
.icon-bookmark:before {
  content: "\e607";
}
.icon-cog:before {
  content: "\e608";
}
.icon-angle-left:before {
  content: "\e609";
}
.icon-angle-right:before {
  content: "\e60a";
}
.icon-angle-up:before {
  content: "\e60b";
}
.icon-angle-down:before {
  content: "\e60c";
}
.icon-search:before {
  content: "\e60d";
}
