/*====================*/
/* # Styled Classes # */
/*====================*/
.article-title + .article-meta { margin-top: -.5rem }
.article-meta { line-height: 1; margin-bottom:1.1rem; 
	display: inline-block; font-style: italic; color:gray; 
}

// Transition classes
.flux { .transition(all 0.5s ease-in-out); }

// Borders
.bdr { border:1px solid darken(@silver, 10%); }
.bdr-tb { border-top:1px solid @silver; border-bottom:1px solid @silver; } 
.bdr-lr { border-left:1px solid @silver; border-right:1px solid @silver; }
.bdr-t { border-top:1px solid @silver; }
.bdr-b { border-bottom:1px solid @silver; }
.bdr-l { border-left:1px solid @silver;  }
.bdr-r { border-right:1px solid @silver; }

// Call Out Section
.panel {
	padding:1.5rem;
    background: #F2F2F2;
    border:1px solid #D9D9D9;
}

// Needed for gumby.parallax.js
.parallax {
  background-attachment: fixed !important;
}
.oldie, .ie9 {
	.parallax {
		background-attachment: static !important;
	}
}

// Pilgrim Alert
.browsehappy {
    margin: 2.95em 0 0 0;
    background: #ccc;
    color: #000; text-align: center; text-transform: uppercase;
    padding: 1.25em 0;
}
