/*=====================*/
/* # Styled Elements # */
/*=====================*/

// Customize the background color of selected text to match your design.
::-moz-selection { background: darken(@color-primary, 10%); color:white; }
::selection { background: darken(@color-primary, 10%); color:white; }

// Blockquotes => http://html5doctor.com/blockquote-q-cite/
blockquote { .margin(1, 0, 1, 1,); .padding-left(1); border-left: 3px solid @gray; 
	// Use Correct Smart Quotes
	// <q>I couldn’t believe it when she said <q>there’s no milk left</q>, so I just walked out of the door.</q>
	q { quotes: "\201C" "\201D" "\2018" "\2019";
		// &:before { content: open-quote; }
		// &:after { content: no-close-quote; }
	}
	small { .padding-left(.5); display:block; }
}

// Abbreviations
abbr, 
acronym {text-transform: uppercase; font-size: 90%; 
	color: #222; border-bottom: 1px solid #ddd; cursor: help;
}
abbr {text-transform: none;}

// A better looking default horizontal rule
hr {
	height: 1px;
	.margin(2, 0, 2, 0);
    padding: 0;
    display: block;
    
    border: 0;
    border-top: 1px solid @gray;
    
}

mark { background: #ff0; color: #000; }

// Give this a better font family
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}





// Used to display code
xmp { padding:.25em; font-size: .75rem; display:inline; background: lighten(@silver, 5%); border:1px solid lighten(@gray, 10%); color: @red;}
