/*=========*/
/*  Links  */
/*=========*/
// All Links
a { text-decoration: none; color:@color-link; .transition(color .3s ease-in-out); 
	&:hover { color:@gold; }
}

// Read More links
.rm { .margin-top(1); display: block; .font-size(.75); .margin-bottom(.25);
	&:after { content: " \00bb"; .font-size(.875); }
}

