// Breakpoints
// -----------------
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile-sm:   ~"only screen and (max-width: 20em)"; // 320px
@mobile:      ~"only screen and (min-width: 20.0625em) and (max-width: 33.0625em)"; // 321px & 529px
@tablet:      ~"only screen and (min-width: 33.125em) and (max-width: 59.3125em)"; // 530px & 949px
@desktop:     ~"only screen and (min-width: 59.375em) and (max-width: 70.5em)"; // 950px & 1128px
@desktop-lg:  ~"only screen and (min-width: 70.5625em)"; // 1129px


// Primary Color Scheme
@color-primary: 		#f38630; 	// Orange
@color-secondary: 		#3899b9; 	// Blue
@color-tertiary: 		red; 		// Name
@color-quaternary:  	red;		// Name

// Primary Highlights
@color-highlight-lt:   	#e0e4cc; 	// Light Blue
@color-highlight-dk:   	#a7dbd8; 	// Off White

// Alerts
@color-warning:			#d4230f;
@color-success:			green;

// Links
@color-link: 			@color-secondary;
@color-link-lt: 		red;
@color-link-dk: 		red;

// Text
@color-text: 			lighten(@black, 30%);
@color-text-lt: 		red;
@color-text-dk: 		red;


// COLOR VARIABLES
// Cool
@aqua:  #7FDBFF;
@blue:  #0074D9;
@navy:  #001F3F;
@teal:  #39CCCC;
@green: #2ECC40;
@olive: #3D9970;
@lime:  #01FF70;

// Warm
@yellow:  #FFDC00;
@orange:  #FF851B;
@red:     #FF4136;
@fuchsia: #F012BE;
@purple:  #B10DC9;
@maroon:  #85144B;
@gold:    #C09741;

// Gray Scale
@white:  #fff;
@silver: #ddd;
@gray:   #aaa;
@black:  #111;

// Global Margin
@global-margin-sm:	1.25em;
@global-margin:		2em;
@global-margin-lg:	3em;

// Global Padding
@global-padding-sm:	1em;
@global-padding:	2em;
@global-padding-lg:	3em;

// Border Styles
@border-color:   		@silver;
@border-width:   		1px;
@border-style:     		solid;

// Typography
// -------------------------
@sans:        	"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@serif:       	Georgia, "Times New Roman", Times, serif;


