/*============*/
/* # Global # */
/*============*/
////////////////
// ++ GRID ++ //
// Specify the number of columns | Set column and gutter widths
@columns: 12;
@column-width: 64;
@gutter-width: 28;
// Remove the definition below for a pixel-based layout
@total-width: 100%;


body { font: normal 100%; font-size: 1em; line-height: 1.5; 
		font-family: fira, sans-serif; font-weight: 400; font-style: normal;
		color:@color-text; font-size-adjust: auto;
		background: url(../img/subtle_grunge.png); 
}

// Center Yourself! 
.gbl-width { padding-left:12%; padding-right:12%; }

// Padding to Account for a Fixed Header
.lower-ceiling { .margin-top(7); }

/*============*/
/* # Header # */
/*============*/
// Wrapper
.masthead { background:@silver; }

/* # logo # */
.col-logo { .column(3); }

/* # Navigation # */
.col-nav { .column(8); .push(1); }

.nav-primary { font-family: fira; font-weight: 400; .font-size(1.25);
	li { .padding(1); }
	a { color:@gray; display: inline-block;
		&:hover, 
		&:focus { color:@white; }
		&:active { color:@white; }
	} 
}

/* # Social Links # */
.links-social { 
	li { .margin-right(2.5);
		a { display:inline-block; color:@color-primary; }
	}
}

/* # Search Form # */
.search-primary { width:20%;  
	input[type="search"] {  }
	input[type="submit"] {  }
}




/*=============================*/
/* # Primary Content columns # */
/*=============================*/
.col-content { .column(9); .min-height(15); 
	> *:last-child { border-bottom:none; padding-bottom: 0; } // Avoids Double Padding From Container
}
.col-sidebar { .column(3); .min-height(15); }




/*============*/
/* # Footer # */
/*============*/
.primary-footer { background:@silver; 
	.content-region {
		> * { .column(4); }
	}
}

.aux-footer { background: @black; color:@white; 
	.col-legal { .column(3); }
	.col-nav { .column(9); }
}

.aux-nav { 
	li { .padding(0, 1, 0, 1); }
	a {  color:@white; }
}

