/*==========*/
/* # Home # */
/*==========*/
// Hero Section
.hero {  background: @gray;  
	.title { .font-size(3); color:@white; }
}
.example { .padding-left(1); color:@color-secondary; border-left:3px solid @color-primary;  }